/* Generale */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Stile per il testo degli enigmi */
.enigma-text {
    color: #ffffff;            /* Colore del testo (bianco) */
    font-size: 1.2rem;         /* Dimensione del testo */
    margin-top: 20px;          /* Spazio sopra la scritta */
    margin-bottom: 20px;       /* Spazio sotto la scritta */
    text-align: center;        /* Centra il testo */
    font-weight: bold;         /* Grassetto per evidenziare */
}

.container {
    background-color: #000000;
    padding: 20px;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}

h1, h2 {
    color: #ffffff;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feedback {
    color: rgb(0, 255, 34);
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

button {
    background-color: #00ff08;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

.solution {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 1.1rem;
}

/* Modifiche per i bottoni con gif */
.solution-button {
    border: none;
    padding: 0;
    width: 100%;
    height: 40px;
    background: none;
    cursor: pointer;
}

.solution-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

#quesito1 {
    color: #ffffff;
}